.myst-tab-item-text  {
  padding-right: 0 !important;
  padding-left: 0 !important;
}
.max-w-full {
  margin-bottom: 0 !important;
}

.myst-fm-block-header {
  margin-bottom: 0 !important;
}

p {
  margin-bottom: 0.5em !important;
}

html.light .next {
  opacity: 0.5 !important;]
}

html.dark .next {
  opacity: 0.5 !important;
  color: #fff;
}